* {
     margin:0; 
    padding:0;
     box-sizing:border-box; 
    font-family:'Poppins',sans-serif; 
}

/* Navbar */
.navbar { 
    background:#004aad;
     color:white;
      padding:15px 50px; 
      display:flex;
       justify-content:space-between;
        align-items:center; 
    }

.navbar a {
     color:white;
      margin-left:20px;
       text-decoration:none;
        font-weight:500;
     }

.btn-login { 
    background:white; 
    color:#004aad!important;
     padding:8px 14px;
      border-radius:6px; 
     }

/* Hero */
.hero { 
    background:url(./assets/OR7TUP0.jpg);
     padding:60px 40px;
      display:flex; 
      justify-content:space-between;
       align-items:center; 
    }

.hero-content {
     max-width:500px;

     }

.hero h1 { 
    font-size:2.6rem;
     color:#004aad;
     }

.hero p { 
    margin:12px 0 24px; 
    font-size:1rem; 
    color:#444;
}

.btn-primary { 
    padding:12px 20px;
     background:#004aad;
      color:#fff;
       border-radius:6px;
        text-decoration:none;
        transition: all 0.2s ease;

     }
     
.btn-primary:hover{
   transform: scale(1.4);
   background:linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
   
}
     
.hero-img { 
    width:600px;
     border-radius:12px;
     }

/* Footer */

footer {
  background: #0f172a;
  color: #fff;
  padding: 40px 0 15px;
  margin-top: 50px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.footer-container div {
  width: 250px;
}

.footer-about p,
.footer-contact p {
  font-size: 14px;
  line-height: 20px;
}
.footer-bottom {
  text-align: center;
  border-top: 1px solid #334155;
  padding-top: 10px;
  font-size: 14px;
}

/* .btn{
  
  color: currentColor;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
} */


/* Responsive */
@media(max-width:900px){ 

     .hero{ flex-direction:column;
     text-align:center;

     } 

.hero-img{

     margin-top:20px;
     width:100%; 
     max-width:350px;

     } 

}

@media(max-width:768px){

.container{ 

     grid-template-columns:1fr;

     }

.btn-login{

     display: flex;

     }

}




